@media ( min-width: 1025px ) {
.parallax { 
	min-height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
}

@media ( max-width: 1024px ) {
	.bkgd-img {
		min-height: 500px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.featured-special-title {
	h1 {
		padding-top: 8px;
		text-shadow: $text-shadow;
		font-weight: bold;
		font-size: 55px;
		color: $black;
	}
}

.about-img {
	h1 {
		color: #424546;
		font-size: 59px;
	}
	p {
		padding-top: .5em;
		padding-left: 2em;
		padding-right: 2em;
		line-height: 2em;
		text-shadow: 0px 2px 7px #000;
	}
}

.bar-img {
	height: 650px;
	h1 {
		padding-top: 32px;
		font-size: 59px;
		color: $michelle-white;
		text-shadow: $text-shadow2

	}
	p {
		padding-top: 1em;
		color: $michelle-white;
		font-size: 32px;
		padding-left: 2em;
		padding-right: 2em;
		font-weight: 600;
		text-shadow: 2px 6px 7px #000;
	}
}

.col-sm-5, 
.col-sm-7, 
.primary, 
.secondary {
	padding: 0px;
	margin: 0px;
}

.featured-items, 
.specials  {
	text-align: center;
	img {
		box-shadow: 2px 5px 10px #090909;
		border-radius: 2%;
		max-width: 400px;
		max-height: 267px;
	}
	p {
		font-size: 16px;
		text-shadow: $text-shadow;
		color: #090909;
		font-family: -webkit-pictograph;
		margin: 0px;
		padding-top: 7px;
	}
}

.secondary-2 {
	h1 {
	color: #adadad;
	font-size: 70px;
	text-shadow: 2px 2px 7px #000;
		em {
			color: $em-grey;
		}
	}
	h2 {
		margin-top: 47px;
		font-size: 20px;
		margin-left: 2em;
		color: #fcf8e3;
		font-family: 'Lato';
		font-weight: bold;
		text-shadow: $text-shadow2;
			a {
		color: #fcf8e3;
		text-shadow: $text-shadow2;
		}
	}
	p {
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		font-family: -webkit-pictograph;
		text-shadow: $text-shadow;
	}
}

.primary-3, 
.secondary-3, 
.tertiary-3 {
	h1 {
		padding-top: 1em;
		font-size: 41px;
		color: $michelle-white;
	}
		img {
		text-align: center;
		display: block;
		margin: 0 auto;
		border-radius: 3px;
		max-width: 100%;
		height: auto;
	}
	h5 {
		font-size: 25px;
		text-align: center;
		font-family: initial;
		text-shadow: 2px 2px 7px #000;
	}
	p {
		padding-top: 10px;
		font-size: 25px;
		font-family: initial;
		line-height: 1.75;
		text-shadow: 2px 2px 7px #000;
	}
	img {
		text-align: center;
	}
	a {
		color: #0963b1;
	}
}

.button {
	opacity: .9;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 25px;
	a{
		color: #fff;
		background-color: #3f7fb6;
		border-color: #777777;
		font-size: 34px;
		width: 50%;
	}
}

.location {
	a {
	margin-top: 2em;
	font-size: 20px;
	color: $michelle-white;
	font-family: 'Lato';
	font-weight: bold;
	text-shadow: 2px 2px 7px #000;
	}
}

@media (min-width: 1200px) {
	.about-img 	p {
		padding-left: 30px;
		padding-right: 30px;
		line-height: 34px;
		font-family: $daughter-font;
		font-size: 20px;
		line-height: 28px;
	}
	.lunch-dinner, 
	.menu {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.col-sm-7, 
	.col-sm-5 {
		padding: 0px;
		margin: 0px;
	}
	.col-sm-4 
	.cards {
		img {
			margin-top: 1em;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		p {
			text-align: center;
		}
	}
	.button a {
		font-size: 100%;
		width: 54%;
		}
	.secondary-2 
	.col-sm-5 {
		.location {
			float: right;
			width: 100%;
		}
	}
	.about-img {
		p {
		padding-top: 2px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 18px;
		}
	}
	.bar-img {
		p {
			padding-top: 14px;
			padding-left: 1em;
			padding-right: 1em;

		}
	}
	.featured-items, 
	.specials {
		img {
			width: 100%;
		}
	}
}

@media (max-width: 576px) {
	.slider {
		display: block;
	}
	.parallax {
		height: 100%;
	}
	.featured-items 
	.specials {
		p {
			font-size: 25px;
			margin-top: 30px;
		}
	}
	.secondary-2 {
		h2 { 
			margin-left: 20px;
			font-size: 16px;
		}
	}
	.tertiary-3 {
		.btn-lg {
			margin-bottom: 20px;
		}
	}
	.col-sm-4 
	.cards {
		img {
			margin-top: 1em;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (max-width: 320px) {
	.bar-img p {
		padding-top: 20px;
	}
}