/* Variables ------------- */

//Colors
$white:#fff;
$black:#000;

$bg-grey: #141819;
$nav-grey: #232423;
$footer-grey: #2a2a2a;
$team-bg-grey: #222222;
$location-bg-grey: #262626;
$blog-grey: #202728;
$med-grey: #363534;
$footer-text-grey: #cecbc1;
$pa-bg-grey: #303030;
$form-grey: #363534;
$opener-grey: #939393;

$active-red: #c71f25;
$headline-red: #580b0c;
$phone-red: #ea1b22;
$comm-bg-red: #470b0b;
$map-red: #9c3637;

$btn-brown: #918474;
$dark-brown: #3c3838;
$about-bg-brown: #bab5af;
$em-grey: #cccccc;
$h1-grey: #566268;
$featured-grey: #566268;
$michelle-white:  #fcf8e3;

//Font stacks
$primary-font: 'Lato', sans-serif;
$shadow-font: 'Shadows Into Light', cursive;
$alegreys-font: 'Alegreya', serif;
$daughter-font: 'Architects Daughter', cursive;

//Text Shadows 
$text-shadow: 2px 2px 7px #000;
$box-shadow: 2px 2px 7px #000;
$text-shadow2: 2px 6px 5px #000;